
@font-face {
  font-family: 'KlavikaWebBasicLight';
  src: url('/Files/assets/fonts/KlavikaWebBasicLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaWebBasicRegular';
  src: url('/Files/assets/fonts/KlavikaWebBasicRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaWebBasicRegularItalic';
  src: url('/Files/assets/fonts/KlavikaWebBasicRegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaWebBasicMedium';
  src: url('/Files/assets/fonts/KlavikaWebBasicMedium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KlavikaWebBasicBold';
  src: url('/Files/assets/fonts/KlavikaWebBasicBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nice ampersand';
  font-style: normal;
  font-weight: 400;
  src: url('/Files/assets/fonts/nice-ampersand.woff2') format('woff2');
}