.settings-menu-container {
	position: relative;
}

.settings-menu {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 140px;
}

.btn-gs-icon {
	--size: 40px;
	padding: 5px;
}

.modal-wrapper-settings-menu {
	overflow: hidden;
	height: 300px;
	width: 300px;
	left: auto;
	right: 0;
	z-index: 2;
}

.settings-menu-header {
	position: relative;
	padding: 10px;
	margin-bottom: 4px;

	&:before {
		content: '';
		position: absolute;
		height: 1px;
		left: 10px;
		right: 10px;
		bottom: 0;
		background-color: var(--background-secondary);
	}
}

.settings-menu-header-title {
	font-size: 10px;
	text-transform: uppercase;
	color: var(--foreground-third);
}

.settings-menu-header-subtitle {
	font-size: 14px;
}

ul.settings-menu-list {
	list-style: none;
	font-size: 14px;
	line-height: 30px;

	li {
		transition: 0.15s;
	}

	li:hover {
		background-color: var(--background-secondary);
	}

	li.divided {
		position: relative;
		margin-top: 5px;

		&:before,
		&:after {
			content: '';
			position: absolute;
		}
		&:before {
			left: 10px;
			right: 10px;
			height: 1px;
			top: -3px;
			background-color: var(--background-secondary);
		}

		// hitzone
		&:after {
			width: 100%;
			height: 5px;
			top: -5px;
		}
	}

	&:not(.logged-in) li:first-of-type a {
		padding-top: 5px;
	}
}

ul.settings-menu-list li a {
	cursor: default;
	display: block;
	padding: 0 10px;
	white-space: nowrap;
}

// add top padding when the header is hidden (can be done with class to the ul)
.settings-menu-header.hide + ul li:first-of-type a {
	padding-top: 5px;
}
