@import 'manastorm-vars';

.manastorm-shelf {
	position: relative;
	font-size: 14px;
	font-family: 'nice ampersand', 'KlavikaWebBasicRegular';
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	padding-bottom: 10px;
	color: var(--foreground-main);
	background-color: var(--background-main);

	> *:not(.manastorm-player) {
		flex-shrink: 0;
	}
}

shelf-header {
	z-index: 10;
	position: relative;
}
