@import 'manastorm-vars';

.manastorm-header-share-section {
	display: flex;
	align-items: center;
	margin-left: auto;

	.manastorm-header-subtitle {
		text-align: right;
		font-size: 14px;
		margin-right: 5px;
		cursor: default;
	}

	.gs-icon {
		--size: 40px;
		padding: 5px;
		--foreground: var(--background-main);
	}

	.gs-icon:hover {
		--foreground: white;
		background-color: $gray222;
	}
}
