
// colors -------------------------------
$red01: rgb(194, 25, 19);
$red02: rgb(255, 0, 0);

$brown01: rgb(58, 36, 15);
$brown02: rgb(90, 55, 23);

$light-brown01: rgb(218, 172, 118);
$light-brown02: rgb(255, 201, 138);

$gray246: rgb(246, 246, 246);

// vars -----------------------
$fast-hover: .15s;