@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

html {
	background: #daac76;
	// background: #f6f6f6;
	// color: #131313;
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
	background-color: transparent;
	height: 100%;
	width: 100%;
}
