@import "vars";

.modal {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-color: rgba($brown01, .95);
	pointer-events: none;
	opacity: 0;
	transition: .25s;
	transition-delay: .15s;
}

.modal-window {
	position: relative;
	background-color: $light-brown01;
	transform: translateY(-100%);
	transition: .25s;
	transition-delay: 0s;

	.window-control {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.modal.active {
	opacity: 1;
	pointer-events: auto;
	transition-delay: 0s;

	.modal-window {
		transform: translateY(0);
		margin-top: 40px;
		transition-delay: .15s;
	}
}