@import "vars";

// tooltip behavior
.tooltip-container {
  position: relative;
}

.tooltip {
  opacity: 0;
  transition: $fast-hover;
  pointer-events: none;
}

.tooltip-container:hover > .tooltip,
.tooltip:hover {
  opacity: 1;
  pointer-events: auto;
}

// tooltip typography
.tooltip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    cursor: default;
    font-size: 13px;
    text-align: center;
    padding: 5px 10px;
    white-space: nowrap;
    color: $gray246;
    min-width: 80px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// tooltip - general
.tooltip {
  --background-color: $brown01;
  background-color: var(--background-color);
  position: absolute;
  // filter: drop-shadow(0 0 3px rgba(0, 0, 0, .6)) blur(0);
  z-index: 9;

  .tooltip-arrow {
    position: absolute;
    width: 12px;
    height: 4px;
    stroke: transparent;
    fill: var(--background-color);
  }
}

// hit zone
.tooltip:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.tooltip.top,
.tooltip.bottom {
  left: 50%;

  .tooltip-arrow {
    left: 50%;
    transform: translateX(-50%) translateZ(0);
  }
}

.tooltip.top {
  top: 0;
  transform: translateX(-50%) translateY(-100%) translateZ(0);

  &:before {
    bottom: -10px;
  }

  .tooltip-arrow {
    top: auto;
    bottom: -4px;
    transform: translateX(-50%) scaleY(-1) translateZ(0);
  }
}

.tooltip.bottom {
  bottom: 0;
  transform: translateX(-50%) translateY(100%) translateZ(0);

  &:before {
    top: -10px;
  }

  .tooltip-arrow {
    top: -4px;
    bottom: auto;
    transform: translateX(-50%) translateZ(0);
  }
}

// delayed tooltip
.tooltip-container:hover > .delayed-tooltip {
  transition-delay: 1s;
}