#container {
	position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: transparent !important;
}

.main-container {
    /* match size of .container, without influencing it */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#dummy {
	display: none;
}

.external-player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.hearthstone .manastorm #externalPlayer {
    .game {
    	overflow: visible;
    	height: 86%;

        .game-area {
            background-color: transparent;
        }
    }

    .top {
        .hand {
            height: 42%;
        }
        .hero {
            height: 40%;
        }
    }

    .replay .game-log {
        margin-top: 8px;
        background-color: rgba(0,0,0,.1);

        p {
            font-weight: bold;
            color: #000;
        }
    }

    .replay__controls {
    	background-color: transparent;
    }

    .bottom .mulligan {
        top: 15%;
    }

    .game .card-tooltip {
        width: 40%;
        max-width: 250px;
    }

    // Hack until https://github.com/wwayne/react-tooltip/issues/241 is fixed
    .top .hand .card-tooltip {
        margin-top: 40px;
    }
    .bottom .hand .card-tooltip {
        margin-bottom: 40px;
    }

    .replay__controls {
        .btn {
            // padding: 6px 12px;
            padding: 4px 8px;
            display: flex;
        }
        .glyphicon:before, .btn span {
            font-size: 0.8em;
        }

    }

    // Make sure the tooltips don't overflow
}

    
@media screen and (max-width: 1070px) {
    .hearthstone .manastorm #externalPlayer .card-tooltip {
        width: 25%;
    }
}