@import "../global/vars";
@import "../global/fonts";

.upload-progress-container {
    width: 100%;
    height: 100%;
    pointer-events: auto;

	// uploading
	.modal-window-uploading {
		.cloud-sun-bg {
			animation: rotate 2s infinite;
		}
	}

	.uploading-progress {
		margin-top: 30px;
		margin-bottom: 8px;
	}

	// progress bar
	progress[value] {
	  /* Reset the default appearance */
	  -webkit-appearance: none;
	   appearance: none;

	  width: 200px;
	  height: 2px;
	}

	progress[value]::-webkit-progress-bar {
	  	background-color: $light-brown02;
	}

	progress[value]::-webkit-progress-value {
	  	background-color: $brown01;
	}

	.progress-text {
		font-family: 'KlavikaWebBasicMedium', sans-serif;
		font-size: 11px;
		color: rgba($brown01, .8);
	}

	input {
		background: transparent;
	    border: none;
	    font-family: inherit;
	    font-size: inherit;
	    color: inherit;
	    cursor: inherit;
	}

	label {
	    margin: 0;
	    padding: 0;
	    box-sizing: border-box;
	    font-weight: normal;

	    p {
		  	margin: 0;
	    }
	}

	b {
	    order: -1;
	    flex-shrink: 0;
	    display: flex;
	    width: 20px;
	    height: 20px;
	    margin: 0;
	    padding: 0;
	    margin-right: 10px;
	    position: relative;
	    border: 1px solid $brown01;
	    box-sizing: border-box;
	    font-weight: normal;

	    &:before {
	      	content: "";
	      	position: absolute;
	      	opacity: 0;
	      	transition: $fast-hover;
	    }
	}

  	input[type="checkbox"] + label b {

    	&:before {
      		top: -1px;
      		bottom: -1px;
      		left: -1px;
      		right: -1px;
      		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 20 20"><polyline points="6 11 9 14 15 6" fill="none" stroke="#{$brown01}" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/></svg>');
    	}
  	}

	:checked + label b:before {
	    opacity: 1;
	}


	// .zth-progress {
	// 	position: relative;
	//     overflow: hidden;
	//     border-radius: 4px;
	//     box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	//     padding: 5px;
	//     padding-botom: 2px;


	//     .background {
	//     	background-color: $light-brown02;
	//     	position: absolute;
	//     	top: 0;
	//     	bottom: 0;
	//     	left: 0;
	//     	right: 0;
	//     	z-index: -1;
	//     }

	//     .done {
	//     	background: $brown01;
	//     	position: absolute;
	//     	top: 0;
	//     	bottom: 0;
	//     	left: 0;
	//     	right: 0;
	//     	z-index: -1;
	//     	border-radius: 4px;
	//     }

	// 	.progress-text {
	// 		font-family: 'KlavikaWebBasicMedium', sans-serif;
	// 		font-size: 11px;
	// 		color: rgba($brown01, .8);
	// 	}
	// }
}
